<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <div class="sidebar">
        <a class="active" href="#etusivu">KATUHÄIRIÖLIVE</a>
        <a href="#kaupunginosat">Kaupunginosat HKI</a>
        <a href="#linkkejä">Linkkejä</a>
        <a href="#ukk">UKK</a>
  
                    @if (User.Identity.IsAuthenticated)
                    {
                        <br />
            <a href="#UserProfile">Omat tietoni</a>
            <a href="#Logout"><strong>Kirjaudu ulos</strong></a>

                    }
                    else
                    {
                       
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><strong>Kirjaudu sisään</strong></a>
                       
                    }
    </div>
   @* //bootstrap
       
   {

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="UserProfile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>
    }
    else
    {
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Kirjaudu sisään</a>
            </li>
        </ul>
    </div>
    }*@
                  
             
        <div class="content">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://learngis2.maps.arcgis.com/apps/mapviewer/index.html?webmap=ce0a0d157fb9466c83867bbdf606114c" style="border: 1px solid black"></iframe><br />
            <small><a href="https://learngis2.maps.arcgis.com/apps/mapviewer/index.html?webmap=ce0a0d157fb9466c83867bbdf606114c" style="color: dimgray">Suurenna kartta koko näyttöön</a></small>
        </div>

</body>
</html>
